################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Attendance/bin/Debug
/.vs
/Attendance/obj
/Attendance/Attendance.rar
/Attendance/Attendance.csproj.user
/Attendance/Attendance.csproj.user
